[project]
	description = phi
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jianfeng Jia (JavierJia)
[access "refs/for/refs/*"]
	read = group user/Jianfeng Jia (JavierJia)
	push = group user/Jianfeng Jia (JavierJia)
	label-Code-Review = -2..+2 group user/Jianfeng Jia (JavierJia)
	label-Verified = -1..+1 group user/Jianfeng Jia (JavierJia)
	rebase = group user/Jianfeng Jia (JavierJia)
	removeReviewer = group user/Jianfeng Jia (JavierJia)
	submit = group user/Jianfeng Jia (JavierJia)
[access "refs/heads/*"]
	read = group user/Jianfeng Jia (JavierJia)
	create = group user/Jianfeng Jia (JavierJia)
	push = +force group user/Jianfeng Jia (JavierJia)
	pushMerge = group user/Jianfeng Jia (JavierJia)
[access "refs/tags/*"]
	push = +force group user/Jianfeng Jia (JavierJia)
	pushTag = group user/Jianfeng Jia (JavierJia)
	pushSignedTag = group user/Jianfeng Jia (JavierJia)
